body {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: rgb(228, 222, 222);
}

.main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    margin-top: -20%;
}

.title{
    text-align: center;
}

.swiped{
    text-decoration: line-through;
}

#taskListOnGoing li {
    color: green;
}

#taskListDone li {
    text-decoration: line-through;
    color: rgb(245, 102, 126);
}

.itemCont {
    width: 90%;
    border-radius: 15px;
    background-color: white;
    align-self: center;
    min-height: 150px;
    max-height: 240px;
    overflow:scroll !important;
    padding: 0px !important;
    
}

li {
    height: 60px;
    padding: 0px !important;
    border-width: 0 0 1px 0 !important;
    border-radius: 15px !important;
    display: flex;
    align-items: center;
    word-wrap: break-word !important;
}


.icon {
    background-color: #FFB4A2;
    color: white;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background: #E5989B !important ;
    width: 85% !important;
    height: 50px;
    border-radius: 25px !important;
}
.footer:focus {
    background-color: white !important;
    color: black;
}

.footer:focus::placeholder {
    color: grey !important;
}

.footer::placeholder {
    color: white;
    font-weight: bold;
}